.images{
    width: 230px;
    height: 230px;
    position: relative;
}

#p01{
    position: fixed;
    width: 300px;
    height: auto;
    top: 0px;
    left: 0px;
}

#p02{
    position: fixed;
    width: 150px;
    height: auto;
    top: 300px;
    left: 420px;
}

#p03{
    position: fixed;
    width: 230px;
    height: auto;
    top: 580px;
    left: 50px;
}

#p04{
    position: fixed;
    width: 230px;
    height: auto;
    top: 140px;
    left: 200px;
}

#p05{
    position: fixed;
    width: 230px;
    height: auto;
    top: 400px;
    left: 400px;
}

#p06{
    position: fixed;
    width: 230px;
    height: auto;
    top: 150px;
    left: 580px;
}

#p07{
    position: fixed;
    width: 230px;
    height: auto;
    top: 330px;
    left: 800px;
}

#p08{
    position: fixed;
    width: 170px;
    height: auto;
    top: 30px;
    left: 350px;
}

#p09{
    position: fixed;
    width: 130px;
    height: auto;
    top: 40px;
    left: 900px;
}

#p10{
    position: fixed;
    width: 160px;
    height: auto;
    top: 40px;
    left: 1300px;
}

#p11{
    position: fixed;
    width: 230px;
    height: auto;
    top: 220px;
    left: 1030px;
}   

#p12{
    position: fixed;
    width: 170px;
    height: auto;
    top: 400px;
    left: 1150px;
}

#p13{
    position: fixed;
    width: 170px;
    height: auto;
    top: 550px;
    left: 620px;
}

#p14{
    position: fixed;
    width: 150px;
    height: auto;
    top: 500px;
    left: 1000px;
}

#p15{
    position: fixed;
    width: 230px;
    height: auto;
    top: 20px;
    left: 600px;
}

#p16{
    position: fixed;
    width: 100px;
    height: auto;
    top: 600px;
    left: 290px;
}

#p17{
    position: fixed;
    width: 180px;
    height: auto;
    top: 10px;
    left: 1070px;
}

#p18{
    position: fixed;
    width: 200px;
    height: auto;
    top: 320px;
    left: 10px;
}
