body{
  background: url("Photo/backgroundCrew.jpg") no-repeat;
  background-size: 120%;
}

#center{
  font-weight: bold;
  position: fixed;
  top: 330px;
  left: 570px;
  text-align: center;
  color:#e6dcbb;
  padding: 10px;
  border-style: solid;
  border-color: #e6dcbb;
  border-width: 5px;
  border-radius: 20px;
  color:#e6dcbb;
}

a {
  color: #e6dcbb;
}



img {
    display: inline-block;
    margin: 0 auto;
    width: 230px;
    height: 230px;
    border-radius: 70%;
}


label {
  font-size: 20px;
  color: #e6dcbb;
}

.insta{
  position: absolute;
  top: 42%;
  font-size: 17px;
  font-weight: bold;
  color:#123456;
  border-style: solid;
  border-color: #123456;
  border-width: 5px;
  padding:5px;
  background-color: #e6dcbb;
}

span{
  font-weight: bold;
  font-size: 20px;

}

#Corentin{
  position: relative;
  top: 120px;
  left: 50px;
}
.containerCorentin {
  position: relative;
}


#Eugenie{
  position: fixed;
  top: 30px;
  left:420px;
}
.containerEugenie {
  position: relative;
}

#Jeremy{
  position: fixed;
  top: 30px;
  right: 420px;
}
.containerJeremy {
  position: relative;
}

#Julien{
  position: fixed;
  top: 120px;
  right: 50px;
}
.containerJulien {
  position: relative;
}


#Paul{
  position: fixed;
  top: 500px;
  left: 400px;
}
.containerPaul {
  position: relative;
}


#Yasmine{
  position: fixed;
  bottom: 120px;
  left: 50px;
}
.containerYasmine {
  position: relative;
}

#Mael{
  position: fixed;
  top: 500px;
  right: 400px;
}
.containerMael {
  position: relative;
}

#Salome{
  position: fixed;
  bottom: 120px;
  right: 50px;
}
.containerSalome {
  position: relative;
}

