.body {
    background-color: #b1817c;
}

div.passwordForgotten {
    margin: auto;
    width: 600px;
    text-align: center;
    background-color: #123456;
    padding: 10px;
    border-style: solid;
    border-color: #d7be69;
    border-width: 5px;
    border-radius: 20px;
    color:#d7be69;
}

#username{
    padding-left: 40px;
}

#idConfirm{
    padding: 10px;
    margin-top: 10px;
}


#idConfirmSC{
    padding: 10px;
    margin-top: 10px;
}


#idCancel{
    padding: 10px;
    margin-top: 10px;
}

.error {color: red;}
