header h1{
    color: #123456;
    font-weight: bold;
    border-color: #123456;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.title{
    padding-left: 520px;
    color: #123456;
}

div.mainbox{
    display:inline-flex;
    padding: 1px; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

div.connection {
    flex : inline-block;
    width: 500px;
    margin-right: 20px;
    margin-left: 190px;
    text-align: center;
    background-color: #123456;
    padding: 10px;
    border-style: solid;
    border-color: #d7be69;
    border-width: 5px;
    border-radius: 20px;
    color:#d7be69;
}

div.connection a{
    color:#d7be69; 
}


#idFormsendConnection{
    padding: 10px;
    margin-top: 10px;
}

div.creation {
    flex :inline-block;
    padding: 10px;
    background-color: #d7be69;
    width: 500px;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-color: #123456;
    border-width: 5px;
    border-radius: 20px;
    color:#123456;

}

.error {color: red;}
