/* * { background: rgba(240, 204, 105, 0.904); }
*/



header h1{
    background-color: #123456;
    color: aliceblue;
    padding: 25px;
    margin: none;
    text-align: center;
}

div.menu-nav{
    width: 300px;
    height: 740px;
    background-color: #123456;
    border-style: solid;
    border-color: #d7be69;
    border-width: 5px;  
    
}


div.btn a{
    text-decoration: none;
    color: white;
    background-color: #123456;
    text-align: center;
    font-weight: bold;
    
}

div.btn:hover a{
    background-color:steelblue;
}


img {
    display: inline-block;
    margin: 0 auto;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border-left-style: solid;
    border-left-color: #d7be69;
    border-left-width: 5px;
    border-right-style: solid;
    border-right-color: #d7be69;
    border-right-width: 5px;  
}

div.profil {
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: #123456;
    padding: 10px;
    text-decoration: none;
    margin: none;
    border-bottom-style: solid;
    border-bottom-color: #d7be69;
    border-bottom-width: 5px;
}


body{
    background: url("https://s1.1zoom.me/b5050/494/Coast_Lighthouses_France_Stones_Waves_Sea_Bretagne_580357_3840x2400.jpg") no-repeat;
    background-size: 100%;
}


footer{
    color: white;
    background-color: #123456;
    padding: 5px;
    position: absolute;
    bottom: 0px;
    width: 98%;
    padding-bottom: 10px;
}