
.leftBox{
    text-align: center;
    position: fixed;
    top: 0px;
    left: 25px
}

.body{
    position: relative;
}




.widget{
    border-radius: 70%;
    padding: 20px;
}

.dragging {
    opacity: 0.6;
}


.rightBox{
    position: fixed;
    top: 50px;
    left: 700px;
}


